/* Wrapper */
* {
  box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-gap: 3px;
    max-width: 500px;
    align-items: center;
    margin: auto;
}

/* Content blocks */
.container > div {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 10px;
    align-items: center;
    color: #ADC8D3;
    background-color: #37424B;
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
.header > .user_info {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  height: inherit;
  width: 25%;
}

.title {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
  height: inherit;
  width: 75%;
}


.profile_pic {
  height: 100px;
  width: 100px;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*Edit and Delete dialog boxes */
.edit_field {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.edit_field > input{
  width: 100%;
  margin: 0px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 2em;
}

.edit_field > input[type="submit"] {
  width: 25%;
  margin: 0px;
  font-size: 14px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* New Menu and Edit Menu */

.menu_field {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
}
.menu_field > input[type="text"], select {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  font-size: 2em;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* General Content Styling */
html, body {
  background-color: white;
  margin: 10px;
}

a:link, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #A2B2B4;
}

h1, h2 {
  color: white;
}

h1 {
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Button styling */
.button {
    background-color: #A1B1B4;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
  background-color: #556367;
}

.edit_button_group {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: baseline;
}

.edit_button {
  background-image: url('../img/edit.png');
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.delete_button {
  background-image: url('../img/delete.png');
  background-size: 25px 25px;
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
