<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Restaurant Menu Application for Udacity FSND</title>
  <meta name="description" content="Menu App">
  <meta name="author" content="Terence Fox">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- <script src="js/scripts.js"></script>-->
  <div class="container">
    <div>
    <h1>Delete {{restaurant.name}}</h1>
    <div class="footer">
      <a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}"><input  class="cancel_button button" type="button" value="&times; CANCEL"></a>
      <form method="POST" action="#">
        <input class="confirm_button button" type="submit" value="&#x2714; CONFIRM">
      </form>
    </div>

    </div>
  </div>
</body>
</html>
