<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Edit Menu Item</title>
  <meta name="description" content="Menu App">
  <meta name="author" content="Terence Fox">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- <script src="js/scripts.js"></script>-->
  <div class="container">
    <div>
    <h1>Edit Menu Item</h1>
    <form class="menu_field" method="POST" action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id = menu_id, item=item)}}">
      <input type="text" name="name" maxlength="80" placeholder="{{item.name}}">
      <input type="text" name="description" maxlength="250" placeholder="{{item.description}}">
      <input type="text" name="price" maxlength="8" placeholder="{{item.price}}">
      <select name="course">
        <option value="Appetizer" {% if item.course == 'Appetizer' %} selected {% endif%}>Appetizer</option>
        <option value="Entree"{% if item.course == 'Entree' %} selected {% endif%}>Entree</option>
        <option value="Dessert"{% if item.course == 'Dessert' %} selected {% endif%}>Dessert</option>
        <option value="Beverage"{% if item.course == 'Beverage' %} selected {% endif%}>Beverage</option>
      </select>
      <input class="button" type="submit" value="EDIT">
      <a href="{{url_for('showMenu',restaurant_id=restaurant_id)}}"><input class="button" type="button" value="&times; CANCEL"></a>
    </form>
    </div>
  </div>
</body>
</html>
