<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Restaurant Menu Application for Udacity FSND</title>
  <meta name="description" content="Menu App">
  <meta name="author" content="Terence Fox">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>{{restaurant.name}}</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class='edit_button_group'>
        <input class="edit_button button" type="button" onclick="window.location.href='{{url_for('editRestaurant', restaurant_id=restaurant.id)}}'">
        <input class=" delete_button button" type="button" onclick="window.location.href='{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}'">
      </div>
    </div>

    {% if items %}
    {% for i in items %}
      <div class="menu_item">
        <h2>{{i.name}}</h2>
        <hr>
        <ul>
          <li>{{i.course}}</li>
          <li>{{i.description}}</li>
          <li>{{i.price}}</li>
        </ul>
        <div class='edit_button_group'>
          <input class="edit_button button" type="button" onclick="window.location.href='{{url_for('editMenuItem',restaurant_id=restaurant.id, menu_id=i.id)}}'">
          <input class=" delete_button button" type="button" onclick="window.location.href='{{url_for('deleteMenuItem',restaurant_id=restaurant.id, menu_id=i.id)}}'">
        </div>
      </div>
    {% endfor %}
    {% else %}
    <div>
      <p>There are no menu items.</p>
    </div>
    {% endif %}
    <div class="footer">
    <a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}"><button class="button">NEW ITEM</button></a>
    </div>
  </div>
</body>
</html>
