<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Restaurants</title>
  <meta name="description" content="Menu App">
  <meta name="author" content="Terence Fox">

  <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/styles.css')}}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <!-- <script src="js/scripts.js"></script>-->
  <div class="container">
    <div>
      <h1>Restaurants</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <div>
        {% if restaurants %}
          {% for i in restaurants %}
          <p>
            <a href="{{url_for('showMenu', restaurant_id = i.id)}}"><h3>{{i.name}}</h3></a>
          </p>
          {% endfor %}
        {% else %}
          <p> There are no restaurants stored.</p>
        {% endif %}

    </div>

    <div class="footer">
      <a href="{{url_for('newRestaurant')}}"><button class="button">Create New</button></a>
    </div>
  </div>
</body>
</html>
